<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
  <body>
    <h1 align="center">Тест: какая ты собака?</h1>

  <img src="{{url_for('static', filename='main_dog_diagram.png')}}" />
    <p class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/dog_more_info">Подробнее</a>
    </p>

  </body>

</html>