{% extends "log_base.html" %}

{% block content %}

<style>

  .card {
    align: center;
    height: 700px;
    width: 1200px;
  }
  .img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    float: left;
  }
  .progress {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 800px;
    height: 10px;
  }
  .namee {
    position: fixed;
    left: 510px;
  }
  .emaill {
    position: fixed;
    left: 512px;
    top: 180px;
  }


</style>
<br>
<div class="card mx-auto p-2">
    <div class="card-body">
        <img src="static/img/person_image.png" class="img" alt="...">
        <br>
        <div>
            <h1 class="namee"> {{ user }} </h1><br>
            <h6 class="emaill"> {{ email }} </h6><br>
        </div>
    </div>
</div>


{% endblock %}